<?xml version="1.0"?>
<!-- the root web configuration file -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation tempDirectory="C:\Inetpub\vhosts\vijayvidhyashram.com\tmp" debug="true" targetFramework="4.8"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <appSettings>
    <add key="SchoolMailTo" value="info@vijayvidhyashram.com"/>
    <add key="SMTPServer" value="smtp.zoho.com"/>
    <add key="SMTPPort" value="587"/>
    <add key="MUserName" value="mailadmin@thabey.com"/>
    <add key="MPassword" value="thabey!2345"/>
    <add key="SendMail" value="1"/>
    <add key="SSL" value="1"/>
  </appSettings>
</configuration>